h1 {
  text-align: center;
  margin-top: 20px;
}
.item {
  width:300px;
  margin:20px auto;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid black;
}
.item div {
  padding: 10px;
  width:32%;
  text-align: center;
  align-self: center;
}
.votes-board {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.item-box {
  margin:20px auto;
  
}